---
---

$satoshi: 'Satoshi', sans-serif;

.case-study {

  .centered-image {
    text-align: center;
    max-width: 800px;
    margin: 60px auto;
  }

  ol {
    margin-left: 22px;
    li {
      margin-top: 2px;
    }
  }

  .theraspace-two-images {
    display: flex;
    gap: 20px;
    .first-image {
      margin-top: 0px;
      text-align: center;
    }
    .second-image {

    }
  }

  .left-image {
    margin-top: 40px;
    text-align: center;
    max-width: 800px;
  }

  .caption {
    font-family: $satoshi;
    margin-top: 18px;
    font-size: 15.5px;
    opacity: 50%;
    &.center-caption {
      text-align: center;
    }
  }

  .lazer-video {
    background: black;
    border-radius: 32px;
    padding: 40px;
    @media (max-width: 600px) {
      padding: 20px;
    }
    .top {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
    }
    .pink-dot {
      @media (max-width: 600px) {
        width: 10px;
        height: 10px;
      }
      width: 12px;
      height: 12px;
      border-radius: 100%;
      float: right;
      background: #FF1CF7;
      // margin-top: 20px;
    }
    margin-bottom: 80px;
    .title {
      font-size: 33px;
      font-weight: 500;
      @media (max-width: 600px) {
        font-size: 28px;
      }
    }
    video {
      width: 100%;
      border-radius: 4px;
    }
  }

  header {
    margin: 70px auto 60px;
    max-width: 500px;
    text-align: center;
    .title {
      font-family: $satoshi;
      font-size: 19px;
      @media (max-width: 500px) { font-size: 18.5px; }
    }
    .case-study-h1 {
      margin-top: 10px;
      font-size: 52px;
      @media (max-width: 500px) { font-size: 46px; }
      color: #FF1CF7;
      font-weight: 500;
    }
    .subtitle {
      margin-top: 10px;
      font-family: $satoshi;
      font-size: 21px;
      @media (max-width: 500px) { font-size: 20px; }
      font-weight: 500;
    }
  }

  section {
    margin-bottom: 120px;
    .spacer {
      height: 18px;
    }
    .spacer-5 {
      height: 5px;
    }
    .spacer-10 {
      height: 10px;
    }
    .spacer-30 {
      height: 30px;
    }
    &.mb80 {
      margin-bottom: 80px;
    }
    &.mb60 {
      margin-bottom: 60px;
    }
    &.mb40 {
      margin-bottom: 40px;
    }
    &.left-text {
      max-width: 800px;
    }

    &.left-image-type {
      display: grid;
      grid-template-columns: 1fr 1.1fr;
      gap: 40px;
      @media (max-width: 850px) { grid-template-columns: 1fr; }
    }

    &.right-image-type {
      display: grid;
      grid-template-columns: 1.1fr 1fr;
      gap: 40px;
      @media (max-width: 850px) { grid-template-columns: 1fr; }
    }
    &.center-type {
      max-width: 700px;
      margin-right: auto;
      margin-left: auto;
      .title::after {
        display: none;
      }
      img {
        margin-top: 30px;
      }
    }
    .title {
      font-size: 33px;
      font-weight: 500;
      position: relative;
      display: inline-block;
      grid-column: 1 / 3;
      @media (max-width: 500px) { font-size: 28px; }
    }
    .pink-underline::after {
      content: "";
      position: absolute;
      left: 0%;
      bottom: -2px; /* adjust spacing below text */
      width: 75px;
      height: 4px;
      background: #FF1CF7;
      border-radius: 6px;
    }
    .text {
      font-family: $satoshi;
      margin-top: 20px;
      font-size: 17px;
      @media (max-width: 500px) { font-size: 16.5px; }
    }
    .bold { font-weight: 600 }
    ul {
      margin-left: 15px;
      margin-top: 2px;
      margin-bottom: 20px;
      li {
        margin-left: 5px;
        margin-bottom: 2px;
      }
    }
  }
}
